@model App.Web.Areas.AdministratorModul.ViewModels.RezervacijaDetaljiVM
@{
    ViewData["Title"] = "DetaljiRezervacija";
    Layout = "~/Areas/AdministratorModul/Views/Shared/_Layout.cshtml";
}

<h2>DetaljiRezervacija</h2>


    <div>
        <label>Rezervacija ID</label>
        <div>
            <input asp-for="RezervacijaId" value="@Model.RezervacijaId" />

        </div>
    </div>

    <div>
        <label>Datum preuzimanja</label>
        <div>
            <input name="DatumPreuzimanja" type="datetime" value="@Model.DatumPreuzimanja" />

        </div>
    </div>
    <div>
        <label>Datum povratka</label>
        <div>
            <input name="DatumVracanja" type="datetime" value="@Model.DatumVracanja" />

        </div>
    </div><div>
        <label>Cijena usluge po danu</label>
        <div>
            <input class="input-sm" asp-for="CijenaUslugePoDanu" readonly value="@Model.CijenaUslugePoDanu" />

        </div>
    </div>
    <div>
        <label>Ukupna cijena</label>
        <div>
            <input class="input-sm" asp-for="UkupnaCijena" value="@Model.UkupnaCijena" />

        </div>
    </div>

    <div>
        <label>Vozac</label>
        <div>
            <input class="input-sm" asp-for="Vozac" value="@Model.Vozac" />
        </div>
    </div>
    <div>
        <label>Vozilo</label>
        <div>
            <input class="input-sm" asp-for="VoziloIme" value="@Model.VoziloIme" />
        </div>
    </div>
    <div>
        <label>Turist Ruta</label>
        <div>
            <input class="input-sm" asp-for="TuristRutaIme" value="@Model.TuristRutaIme" />
        </div>
    </div>
   
    <div>
        <label>Klijent</label>
        <div>
            <input class="input-sm" asp-for="KlijentIme" value="@Model.KlijentIme" />
        </div>
    </div>
   
